* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #0A2239;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 2em;
}

.presentation {
    background-color: #F0F4F8;
    color: #333;
    text-align: justify;
    padding: 40px 20px;
    font-size: 1.2em;
    width: calc(100% - 40px);
    margin: 40px auto;
    border-radius: 10px;
    max-width: 2000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #3A6EA5;
    padding-left: 60px;
}

.years-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.year {
    background-color: #0A2239;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    width: calc(100% - 40px);
    max-width: 2000px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.year:hover {
    background-color: #3A6EA5;
}

.projects {
    display: none;
    width: calc(100% - 40px);
    max-width: 2000px;
    margin: 10px auto;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
}

.project-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.project-name {
    background-color: #3A6EA5;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
}

.project-objective {
    background-color: #2C497F;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    text-align: left;
    border-radius: 5px;
}

.project-results {
    background-color: #0A2239;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    text-align: left;
    width: 50%;
    border-radius: 5px;
}

.project-name:hover, .project-objective:hover, .project-results:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #3A6EA5;
    margin: 20px 0;
    border-radius: 5px;
}

footer {
    background-color: #2C497F;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.top-banner {
    background-color: #1C3D5A;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.8em;
    font-weight: bold;
    width: calc(100% - 40px);
    max-width: 2000px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
